<div class="flex justify-center items-center py-7 sm:py-10 h-[15%]  border-b-4  text-[#D4C9BE] text-3xl sm:text-5xl font-body">
  <a href="/" class="relative group hover:scale-105 duration-300">Inventory Application
    <span class="absolute bottom-0 left-0 h-[2px] w-0 bg-[#D4C9BE] transition-all duration-500 group-hover:w-full"></span>
  </a>
</div>