<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body class="bg-[#222222] text-[#D4C9BE] sm:h-screen">
  <%- include('./partials/header') %>
  <div class="flex flex-col sm:flex-row no-wrap sm:wrap h-[85%]">
    <%- include('sidebar',{categories:categories, categoryFlag:categoryFlag}) %>
    <div class="min-w-30 mb-10 sm:mb-0 relative">
      <p class="text-3xl my-6 sm:my-4 ml-10 font-body text-white cursor-default border-b-2 sm:border-b-0 inline-block sm:block">Items</p>
      <div class="flex flex-wrap flex-row gap-6 sm:gap-8 px-2 sm:px-5 justify-center sm:justify-start">
        <% items.forEach((item) =>{ %>
        <%- include('item',{product:item}) %>
        <%})%>
      </div>
      <div class="absolute w-10 sm:w-12 sm:top-125 top-5 right-10 fill-current text-white border-2 rounded-full hover:scale-110 duration-400 hover:bg-[#D4C9BE] hover:text-black hover:rotate-[180deg] h-fit">
        <a href="/new/item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>plus-thick</title>
            <path d="M20 14H14V20H10V14H4V10H10V4H14V10H20V14Z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</body>

</html>