<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('./partials/header') %>
  <div class="flex ">
    <%- include('sidebar',{categories:categories, categoryFlag:categoryFlag}) %>
    <div>
      <p class="text-3xl my-4 ml-10 font-body">Items</p>
      <div class="flex flex-wrap gap-8 px-5">
        <% items.forEach((item) =>{ %>
        <%- include('item',{product:item}) %>
        <%})%>
      </div>
      <div class="absolute w-12 bottom-5 right-10">
        <a href="/new/item">
          <img src="/images/add-icon.svg" alt="Icon not found" class="h-fit w-fit">
        </a>
      </div>
    </div>
  </div>
</body>

</html>