<div class="text-2xl w-65 font-heading border-3 border-dashed rounded-xl p-4 flex justify-between">
  <p> <%=product.item_name%></p>
  <div class="w-10">
    <a href="/item/edit/<%= product.id %>">
      <img src="/images/edit.svg" alt="Image Not found" class="w-full h-full">
    </a>
  </div>
</div>