<div class=" border-r-4 border-dashed min-w-80 min-h-150">
  <p class="text-3xl font-body my-4 text-center">Categories.</p>
  <a class="text-3xl block border-b-3 mx-8 text-center  font-text" href="/">All Categories</a>
  <div class="flex flex-col gap-6 mt-8 items-center">
    <a href="/new/category" class="border-2 rounded-xl p-2 text-xl font-heading">Create New Category</a>
    <% categories.forEach((category) =>{ %>
    <a href="/category/<%= category.id %>" class="text-xl font-text"> <%= category.category_name %></a>
    <%}) %>
  </div>
  <div>
    <% if(categoryFlag && categoryId){ %>
    <div class="text-center mx-8 my-6">
      <a href='/category/<%=categoryId%>/edit' class="text-2xl font-body border-2 border-dashed p-2 rounded-xl ">Edit Category</a>
    </div>
    <% } %>
  </div>
</div>