<div class=" sm:border-r-4 min-w-screen sm:min-w-80 min-h-150 border-b-4 sm:border-b-0">
  <p class="text-3xl font-body my-6 sm:my-4 ml-8 sm:ml-0 sm:text-center text-white cursor-default sm:border-b-0 border-b-2 inline-block sm:block">Categories</p>
  <a class="relative group text-3xl block sm:border-b-3 mx-8 text-center font-text" href="/">All Categories
  </a>
  <div class="flex flex-col gap-6 mt-8 items-center">
    <a href="/new/category" class="border-2 rounded-xl p-2 text-xl font-heading text-white animate-pulse hover:scale-105 duration-300 hidden sm:inline-block">Create New Category</a>
    <% categories.forEach((category) =>{ %>
    <a href="/category/<%= category.id %>" class="text-2xl font-text text-white relative group"> <%= category.category_name %>
      <span class="absolute bottom-0 left-0 h-[2px] w-0 bg-[#D4C9BE] transition-all duration-500 group-hover:w-full"></span>
    </a>
    <%}) %>
  </div>
  <div class="flex items-center justify-center gap-4 mt-2">
    <% if(categoryFlag && categoryId){ %>
    <div class="text-center sm:mx-8 my-8 hover:scale-105 duration-300">
      <a href='/category/<%=categoryId%>/edit' class="text-2xl font-heading border-2 p-2 rounded-xl animate-pulse ">Edit Category</a>
    </div>
    <% } %>
    <a href="/new/category" class="border-2 rounded-xl p-2 text-xl w-fit h-fit font-heading text-white animate-pulse my-8 hover:scale-105 duration-300 sm:hidden animate-pulse">Create New Category</a>
  </div>
</div>